*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-content{
min-height: 1000px;
width: 90%;
display: grid;
grid-template-columns: 300px 700px;  
/* margin: auto auto;   */
}
.left-section{
    background-color: grey;
    grid-column: span 1;
}
.right-section{
    background-color: green;
    grid-column: 2;
}
.left-content{
    padding: 1rem;
}
.profile img{
    padding: 1rem;
    display: block;
    margin: auto;
    border: 5px solid white;
    border-radius: 30%;
    width: 60%;
}
.name{
    text-transform: uppercase;
    text-align: center;
    font-size:1.2rem;
    font-weight: 700;letter-spacing: 0.02px;
    padding: 0.8rem;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.contact-item li{
    list-style: none;
}
.social-media{
    display: flex;
    padding:1rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
}
.personal-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: flex-start;
    padding-left: 1rem ;
    padding-bottom: 0.5rem ;
}
.progress-bar{
    border: 1px solid white;
    height: 4px;
}
.skills{
    text-align: center;
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 1rem 0.5rem;
}
.skills-content{
    padding: 0 0.5rem;
}
.skill-name{
    font-size: 0.65rem;
    font-weight: 600;
    text-align: left;
    padding-bottom: 0.5rem;
}
.right-main-content{
    padding: 2rem 3rem;
}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
sect li{
    list-style-type: disc;
    padding: 1rem 0;
}
table thead th{
    /* text-align: center; */
    padding: 2px 2px;
}
table tbody td{
    text-align: left;
    padding: 0 1rem;
}
table{
    margin-left: 0;
}

@media screen and (max-width: 630px){
    .main-content{
        grid-template-columns: repeat(1,1fr);
    }
}


@media screen and (max-width:673px){
    .main-content{
        grid-template-columns: repeat(1,1fr);
    }
}
